/* general styles */

@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600&family=Kalam:wght@400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;0,6..12,600;1,6..12,200;1,6..12,300&display=swap');
*{  
    /* font-family: 'Biryani', sans-serif; */
    /* font-family: 'Kalam', cursive;*/
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */ 
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root{
    --heading1:rgb(206, 110, 7);
    --lightText:rgb(147, 143, 143);
    --bacground-color:rgb(248, 247, 245);
    --buttoncolor:linear-gradient(to bottom,
                                    orange,
                                    orangered);
    --button-border:0px 30px 30px 30px;;
    --border-radius:20px;
    --heading-font:'Kalam', cursive;
    --card-background:rgba(255, 255, 255, 0.518);
    --active-color:rgb(250, 71, 6);
    --border:solid orange 1px;
}

body{
    background-color: var(--bacground-color);
    padding: 0.5rem 0.5rem;
    max-width:1300px ;
    margin: auto;
}
nav a{
    color: black;
}
.button1{
    background: var(--buttoncolor);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}

input{
    border: none;
}

.hero-section{
    display:flex;
    gap:1.5rem;   
    justify-content:center;
    padding: 2rem;
    flex-wrap: wrap;
    align-items: center;

}
.hero-section .left{
    display: flex;
    flex-direction: column;
    max-width: 650px;
    gap: 1.5rem;
    flex: 200px;
   
}
.hero-section .left h1{
    font-family: var(--heading-font);
    font-size: 4vw;
    font-weight: 600;
}
.hero-section .right img{
    height: 100%;
    width: 45vw;
    margin: 1rem;
   min-width: 500px;
   
  
}
.button-rapper{
    display: flex;
    gap: 5rem;
    align-items: center;
  
   
}
.button-rapper button{
    padding: 1.5rem 3rem;
    color: white;
    border: none;
    background: var(--buttoncolor);
    border-radius: var(--button-border);
    cursor: pointer;
}

.video{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.video i{
   border: var(--border);
   border:solid  orangered 4px;
   padding: 0.6rem;
   border-radius: 50%;
   background-color: white;
}
/* category section starts here */
.category{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
 
}
.cat-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  align-items: center;

}
.box{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 0.6rem;
    position: relative;
    width: fit-content;
    box-shadow: 1rem,2rem,5rem rgba(0, 0, 0, 0.829);
    filter: blur(2px, 2px);
    margin: 0.7rem;
    flex: 200px;
}
.box img{
    width: 80px;
    height: 80px;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0.7rem 1rem 5rem  rgba(0, 0, 0, 0.477);
    position:absolute;
    top: -15px; left: -3px
}
.category .content{
    background-color: rgba(242, 237, 237, 0.353);
    border-radius: 10px;
    padding: 2rem;
    margin: 0.3rem 1rem;
    width: fit-content;
  
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  ;
    box-shadow: 1rem 1rem 7rem rgba(114, 113, 113, 0.325)
}
.fa-bookmark{
    text-align: right;
}
.category .content i{
    color: orangered;
}
.category .content .starts i{
    color:rgb(255, 200, 0);

}
.title{
    font-family: var(--heading-font);
    font-size: 2rem;
    margin: 0.6rem;
    text-transform: capitalize;
}

/* collection section starts here */

.coll-container{
    margin: 2rem 1rem;
    padding: 0.7rem;
    /* width: 80%;
    margin: auto; */
}
.col-heading{
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.coll-wrapper{
    display: flex;
    padding: 0.5rem;
    gap: 0.9rem;
    justify-content: center;
    flex-wrap: wrap;


}
.col-item{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-bottom: 0.6rem;
    margin: 0.3rem;
    max-width: 250px;
    background-color: rgba(253, 235, 235, 0.789);
    flex:200px;
    border-radius: 10px 70px 10px 10px;
}
.col-item img{
    width: 100%;
    height: 200px;
    border-radius: 0 70px ;
    object-fit: cover;
    
}
.button2{
    border: solid orangered 1px;
    padding: 0.5rem 1rem;
    background-color: white;
    color: orangered;
    border-radius: 0.6rem;
    width: fit-content;
}
.col-item .content{
   
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.button1{
    background: var(--buttoncolor);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
}

/* trending  */
/* .trending{
    width: 80%;
    margin: auto;
} */
.swiper-wrapper{
    background-color: rgba(255, 255, 255, 0.582);
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
}
.swiper-pagination{
    position: relative;
}
.swiper-pagination-bullet-active {
    background: orangered;
}

.trends-con{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position:relative;
    width: 300px;
}
.trends-con img{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top:-10px;
    z-index: 2;
    border-radius: 50%;
}


.trends-con .item{
    background-color: white;
    padding: 2.5rem 2rem;
    border-radius: 50px 0px ;
    box-shadow: 1rem 1rem 7rem rgba(114, 113, 113, 0.325);
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}
.trends-con .item span{
    position: absolute;
    bottom:-8px;left: 0;
    border-radius: 15px 15px 15px 0;

}
.heading2{
    font-family: 'Roboto Condensed', sans-serif;
}
.trends-con .item .content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
    margin: auto;
}

.trends-con .item .price{
    color: orangered;
}


.trends-con .item .content .stars{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.fa-star,.fa-star-half{
    color: rgb(255, 217, 0);
}
/* popular section starts here */
.popular{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 0.5rem;
    margin: 2rem 1rem;
}
.pop-wrapper{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.pop-item{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.pop-item img{
    width: 100%;
    height: 150px;
    border-radius: 0.9rem;
}

/* new items section */
.newest-con{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
}
.new-wrapper{
    display: flex;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.54);

}
.swiper-wrapper{
    background-color: rgba(255, 255, 255, 0);
}
.new-item{
    position:relative;
    padding: 0.5rem;
    margin: 0.3rem;
    width: 300px;
}

.new-item .content{
    padding: 3rem 2rem 2rem 1rem;
    margin: 0.5rem;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-items:space-between ;
    position: relative;
    gap: 2.5rem;
    border-radius: 20px;
}


.new-item img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0.4rem 0.7rem 3rem rgb(84, 83, 83);
    position:absolute;
    left:30%;top: -35px;
    z-index: 2;
}
.new-item .content .top{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1.5;
}

.new-item .content .bottom{
    display: flex;
    justify-content: space-between;
}
.new-item .content .bottom span{
    color: var(--lightText);
}
.new-item .content .bottom p{
    font-size: 1rem;
    font-weight: 800;
}
.new-item .content .hover{
    position: absolute;
    right: 10px;top:80px;
    height: 70%;
    z-index: 10;
    padding: 0.5rem;
    display: none;
    
}
.new-item .content .hover .icons{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
    background-color: white;
}
.new-item .content .hover .icons i{
    background-color: rgba(255, 255, 255, 0.604);
    border-radius: 50%;
    box-shadow: 1rem 1rem 6rem rgb(84, 83, 83);
    padding: 0.6rem;
    z-index: 10;

}









