.ad_top-con{
    display:flex;
    gap: 0.7em;
    padding: 0.8rem;
    margin: 1.5rem auto;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.ad_top-con .left{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.4rem;
    background-color: rgb(249, 249, 249);
    
}
.tp-wrap{
    display: flex;
    gap: 0.9rem;
    font-style: italic;
    font-family: nutito;
    margin:0px 0px;
    color:rgb(3, 74, 3);
    font-weight: 300;
    align-items: center;

}
.tp-wrap i{
    color:orange;
}
.button3{
    display: flex;
    gap: 0.5rem;
    margin: 0.rem 0.2rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: orangered;
    color:white;
    width: fit-content;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
   
}
.ad_top-con .right{
    padding: 0.8rem;
    margin: 0.7rem ;
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 0.5rem;
}
.ad_top-con .right img{
    width: 100%;
    object-fit: cover;
    border-radius: 0.8em;
   
}
.ad_top-con .right .content{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    margin: 1.0rem;
    padding: 1.2rem;
    color: white;
   
    /* background-color: rgba(44, 43, 43, 0); */
    position: absolute; top: 10px;right: 0;left:0.5rem;
    width: 100%;height: 300px;
}
.ad_top-con .right .content h2{
    width: 90%;
    margin:  1.2rem auto;
}

.about-center{
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}
.about-center .deals-wrapper{
    display: flex;
    gap: 1.9rem;
    padding: 0.3rem;
    justify-content: space-between;
    align-items: center;
}
.weekly{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-content: center;
    padding: 0.6rem;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    min-width: 250px;
    height: fit-content;

}
.ab-heading{
    display: flex;
    justify-content: space-between;
}
.ab-heading h3{
    text-decoration: underline orangered;
}
.nip {
    background-color: orangered;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70%;
    width: 25px;height: 25px;
    font-size: 0.8rem;

}
.weekly img{
    width: 150px;height: 200px;
}
.weekly .c-bottom{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-content: center;
    padding: 0.6rem;

}
.bwraps-con{
    display: flex;
    gap: 0.6rem;
}
.bwraps-con .bwraps{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.price{
    display: flex;
    gap: 0.5rem;
}

/* monthly best seling  */
.monthly{ 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.monthly .prod-con{
    display: flex;
    padding: 0.9rem;
    border-radius: 0.6rem;
    gap: 0.6rem;
    margin: 0.2rem;
    align-items: center;
    background-color: white;
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(255, 127, 80, 0.138) ;
}
.monthly .prod-con img{
    width: 90px;
    height: 90px;
}
.monthly .prod-con  .img{
    position: relative;
    width: fit-content;
}
.prod-con .img .icons{
    font-size: 0.5rem;
    display: flex;
    gap: 0.2rem;
    position: absolute;
    top:0;
    justify-content: center;
    width: 90px;
    height: 90px;
    align-items: center;
    background-color: rgba(41, 40, 40, 0.245);
}
.fa-star-half-stroke{
    color: rgb(227, 213, 48);
}
.leftp-con{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.button4{
    display: flex;
    gap: 0.5rem;
    padding: 0.3rem;
    align-items: center;
    color: green;
    cursor: pointer;
}
.featuring{
    display: flex;
    flex-direction: column;gap: 0.5rem;
    padding: 0.7rem;
    background-color: white;
    border-radius: 0.6rem;
    height: fit-content;
}
.featuring .ft-tabs{
    display: flex;
    gap: 0.8rem;
    margin: 0.3rem;
    padding: 0.6rem;
    color: grey;
    font-size: 0.9rem;
}
.featuring .ft-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 300px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
   
}
.featuring .ft-wrapper .img img{
    width: 150px;
    height: 200px;
}
.featuring .ft-wrapper .img {
    display: flex;
    gap: 0.7rem;
}
.featuring .ft-wrapper .img .icons{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

/* botom container */
.bottom-add{
    display: flex;
    gap: 0.5rem;
    gap: 0.9rem;
    justify-content: space-between;
    width: 90%;
    margin: 2rem auto;
}
.bottom-add .left{
    flex: 1;
}
.bottom-add .left .right{
    position: relative;
    flex:1 ;
    width: 100%;
}
.bottom-add .left .right img{
    width: 100%;
    height: 200px;
    object-fit: fill;
}
.bottom-add .left .right .content{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: right;
    color: white;
    position: absolute; top:0px; right: 0px;left:0px;
}
.bottom-add .right{
    position: relative;
    margin: 0.5rem;
    border-radius: 0.6rem;

}
.bottom-add .right img{
    flex: 1;
    width: 300px;
    height: 200px;
    border-radius: 0.7rem;
    object-fit: cover;

}
.bottom-add .right .content{
    width: 300px;height: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
    gap: 0.3rem;
    justify-content: center;
    align-items: right;
    color: white;
    top: 0px;right: 20px;left: 0px;
    background-color: rgba(6, 3, 3, 0.232);
    border-radius: 0.7rem;
}