footer{
    background-image: url(../../pictures/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 0.5rem;
    color: white;
    margin: 3.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ft-wrapper{
    display: flex;
    gap: 1.7rem;
    padding: 0.7rem;
    margin: 0.5rem;
    justify-content: space-between;
    flex: 1;
}
.ft-wrapper .icons{
    color: white;
}
.ft-wrapper .quicklinks{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    justify-content: center;
   
}
.ft-wrapper .quicklinks h3{
    font-family: var(--heading-font);
    font-size: 1.5rem;
    font-weight: 400;
}
.ft-wrapper .quicklinks .links{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 0.6rem;
 
}
.ft-wrapper .about{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  
}
.ft-wrapper .about .social{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 0.7rem;
    
}
.ft-wrapper .about .social .icons {
    font-size: 1.6rem;
    display: flex;
    gap: 1.7rem;
}

footer .ft-wrapper .about .logo{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: orangered;
    font-size: 2rem;

}
footer .ft-wrapper .about .logo .lable{
    background-color: orangered;
    padding: 0.15rem; 
    margin: 0.2rem;
    border-radius: 50%;
    outline: 20px;
     color: rgb(24, 24, 24);
     font-size: 2rem;
}
footer .ft-wrapper .about .logo  .lable i{
    border: solid rgb(33, 32, 32) 3px;
    padding: 1rem;
    border-radius: 50%;
    font-size: 2rem;
}
.ft-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}
footer img{
    width: 33%;
}
footer .ft-wrapper .quicklinks a{
    color: white;
}